* {
    padding: 0;
    margin: 0;
}

.hero {
    height: 700px;
    width: 100%;
    background-image: url(https://img1.akspic.ru/originals/0/6/4/5/5/155460-lenovo_chromebook_s345-pishha-prirodnye_produkty-frukty-rastenie-3840x2160.jpg);
    background-size: cover;
    background-position: center;
}

.our-product {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e3e3e3;
}

.our-advantages {
    padding-top: 50px;
}

.list-of-advantages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #e3e3e3;
}

.card {
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
}

@media all and (min-width:1920) {
    .hero {
        /* width: 1920px;
        margin: 0 auto; */
        height: 800px;
    }
}